/* =============================================================================
  BOX SIZING
============================================================================= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* =============================================================================
  HTML & BODY
============================================================================= */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: #6d6d6d;
  background-color: #fff;
  font-family: "Oxygen", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.8;
}

/* =============================================================================
  HEADINGS
============================================================================= */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3b3b3b;
  font-weight: 700;
  line-height: 1.2;
}

/* =============================================================================
  LINKS
============================================================================= */
a {
  color: #f07850;
  text-decoration: none;
}

a:hover {
  color: #c93f11;
}

/* =============================================================================
  TEXT STUFFS
============================================================================= */
b,
strong {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

/* =============================================================================
  EMBEDDED CONTENT
============================================================================= */
img {
  max-width: 100%;
  height: auto;
}

/* =============================================================================
  PRIMARY LAYOUT STUFF
============================================================================= */
.container {
  margin: 0 auto;
  padding: 0 12px;
  max-width: 960px;
}

@media all and (min-width: 480px) {
  .container {
    padding: 0 24px;
  }
}
@media all and (min-width: 720px) {
  .container {
    padding: 0 48px;
  }
}